<a href="https://colab.research.google.com/github/JibranKalia/county_research/blob/main/Process_Redfin_County_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

pd.set_option('display.max_columns', 85)

Mounted at /content/drive

In [ ]:
# import csv which is tab separated

df_original = pd.read_csv('/content/drive/My Drive/Land/county_market_tracker.csv', sep='\t')

In [ ]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863949 entries, 0 to 863948
Data columns (total 58 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   period_begin                    863949 non-null  object
 1   period_end                      863949 non-null  object
 2   period_duration                 863949 non-null  int64
 3   region_type                     863949 non-null  object
 4   region_type_id                  863949 non-null  int64
 5   table_id                        863949 non-null  int64
 6   is_seasonally_adjusted          863949 non-null  object
 7   region                          863949 non-null  object
 8   city                            0 non-null       float64
 9   state                           863949 non-null  object
 10  state_code                      863949 non-null  object
 11  property_type                   863949 non-null  object
 12  property_type_id                863949 non-null  int64
 13  median_sale_price               863134 non-null  float64
 14  median_sale_price_mom           773782 non-null  float64
 15  median_sale_price_yoy           743329 non-null  float64
 16  median_list_price               789159 non-null  float64
 17  median_list_price_mom           724078 non-null  float64
 18  median_list_price_yoy           694310 non-null  float64
 19  median_ppsf                     853401 non-null  float64
 20  median_ppsf_mom                 765441 non-null  float64
 21  median_ppsf_yoy                 734955 non-null  float64
 22  median_list_ppsf                787758 non-null  float64
 23  median_list_ppsf_mom            722647 non-null  float64
 24  median_list_ppsf_yoy            692793 non-null  float64
 25  homes_sold                      863145 non-null  float64
 26  homes_sold_mom                  773794 non-null  float64
 27  homes_sold_yoy                  743341 non-null  float64
 28  pending_sales                   739177 non-null  float64
 29  pending_sales_mom               659652 non-null  float64
 30  pending_sales_yoy               628198 non-null  float64
 31  new_listings                    783949 non-null  float64
 32  new_listings_mom                719154 non-null  float64
 33  new_listings_yoy                689108 non-null  float64
 34  inventory                       825438 non-null  float64
 35  inventory_mom                   752283 non-null  float64
 36  inventory_yoy                   719115 non-null  float64
 37  months_of_supply                838578 non-null  float64
 38  months_of_supply_mom            764842 non-null  float64
 39  months_of_supply_yoy            732529 non-null  float64
 40  median_dom                      851019 non-null  float64
 41  median_dom_mom                  762272 non-null  float64
 42  median_dom_yoy                  731312 non-null  float64
 43  avg_sale_to_list                826924 non-null  float64
 44  avg_sale_to_list_mom            741098 non-null  float64
 45  avg_sale_to_list_yoy            714442 non-null  float64
 46  sold_above_list                 857733 non-null  float64
 47  sold_above_list_mom             768604 non-null  float64
 48  sold_above_list_yoy             738091 non-null  float64
 49  price_drops                     417193 non-null  float64
 50  price_drops_mom                 378683 non-null  float64
 51  price_drops_yoy                 323983 non-null  float64
 52  off_market_in_two_weeks         754252 non-null  float64
 53  off_market_in_two_weeks_mom     673617 non-null  float64
 54  off_market_in_two_weeks_yoy     641288 non-null  float64
 55  parent_metro_region             863949 non-null  object
 56  parent_metro_region_metro_code  650294 non-null  float64
 57  last_updated                    863949 non-null  object
dtypes: float64(44), int64(4), object(10)
memory usage: 382.3+ MB

In [ ]:
df_copy = df_original.copy()

In [ ]:
df = df_copy.loc[:, ['period_begin', 'region', 'state', 'state_code', 'homes_sold', 'new_listings', 'inventory', 'median_dom', 'months_of_supply', 'avg_sale_to_list']]

In [8]:
df = df.sort_values(by='period_begin', ascending=False)
df = df.reset_index(drop=True)
df = df.rename(columns={'region':'county', 'period_begin': 'month'})
df

,month,county,state,state_code,homes_sold,new_listings,inventory,median_dom,months_of_supply,avg_sale_to_list
0,2023-03-01,"Iron County, MI",Michigan,MI,16.0,7.0,34.0,131.0,2.1,0.940495
1,2023-03-01,"McLeod County, MN",Minnesota,MN,2.0,2.0,2.0,161.0,1.0,0.991800
2,2023-03-01,"Dorchester County, SC",South Carolina,SC,287.0,321.0,699.0,65.0,2.4,0.989761
3,2023-03-01,"Grundy County, IL",Illinois,IL,42.0,47.0,98.0,62.0,2.3,1.002184
4,2023-03-01,"Wexford County, MI",Michigan,MI,35.0,34.0,60.0,66.0,1.7,0.988345
...,...,...,...,...,...,...,...,...,...,...
863944,2012-01-01,"Shoshone County, ID",Idaho,ID,15.0,24.0,113.0,115.0,7.5,0.860946
863945,2012-01-01,"Green Lake County, WI",Wisconsin,WI,1.0,NaN,7.0,913.0,7.0,0.952736
863946,2012-01-01,"Merrimack County, NH",New Hampshire,NH,13.0,6.0,42.0,155.0,3.2,0.930686
863947,2012-01-01,"Massac County, IL",Illinois,IL,4.0,10.0,112.0,431.0,28.0,0.872810
863948,2012-01-01,"King County, WA",Washington,WA,16.0,30.0,140.0,90.0,8.8,0.968432

In [9]:
# Convert the 'month' column to a datetime object
df['month'] = pd.to_datetime(df['month'])

filtered_df = df[df['month'] >= '2022-01-01']
filtered_df

,month,county,state,state_code,homes_sold,new_listings,inventory,median_dom,months_of_supply,avg_sale_to_list
0,2023-03-01,"Iron County, MI",Michigan,MI,16.0,7.0,34.0,131.0,2.1,0.940495
1,2023-03-01,"McLeod County, MN",Minnesota,MN,2.0,2.0,2.0,161.0,1.0,0.991800
2,2023-03-01,"Dorchester County, SC",South Carolina,SC,287.0,321.0,699.0,65.0,2.4,0.989761
3,2023-03-01,"Grundy County, IL",Illinois,IL,42.0,47.0,98.0,62.0,2.3,1.002184
4,2023-03-01,"Wexford County, MI",Michigan,MI,35.0,34.0,60.0,66.0,1.7,0.988345
...,...,...,...,...,...,...,...,...,...,...
117964,2022-01-01,"Butler County, NE",Nebraska,NE,1.0,2.0,3.0,19.0,3.0,0.793103
117965,2022-01-01,"Chippewa County, MN",Minnesota,MN,9.0,7.0,18.0,71.0,2.0,0.941067
117966,2022-01-01,"Strafford County, NH",New Hampshire,NH,92.0,70.0,110.0,42.0,1.2,1.022123
117967,2022-01-01,"Mille Lacs County, MN",Minnesota,MN,17.0,12.0,32.0,28.0,1.9,1.002382
117968,2022-01-01,"Calhoun County, MI",Michigan,MI,7.0,7.0,17.0,104.0,2.4,0.893959